In [1]:
# Importing Libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import pyodbc

In [2]:
# Check my drivers

pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'Amazon Redshift (x64)',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [3]:
# Connect to sql server

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-BV42F6ID\SQLEXPRESS;'
                      'Database=PortfolioProject;'
                      'Trusted_Connection=yes;')

In [4]:
# Select my query 

query = "SELECT * FROM MLBBeerPrices;"

In [5]:
# Read my query and view the dataset

df = pd.read_sql(query, conn)

df.head()

,Year,Team,Nickname,City,Price,Size,Price per Ounce
0,2013,Arizona Diamondbacks,Diamondbacks,Arizona,4,14,0.285714286
1,2013,Atlanta Braves,Braves,Atlanta,7.25,16,0.453125
2,2013,Baltimore Orioles,Orioles,Baltimore,6.75,18,0.375
3,2013,Boston Red Sox,Red Sox,Boston,7.25,12,0.604166667
4,2013,Chicago Cubs,Cubs,Chicago,7.25,16,0.453125

In [6]:
# Making a copy of the dataset

mlb_beer = df.copy()

mlb_beer

,Year,Team,Nickname,City,Price,Size,Price per Ounce
0,2013,Arizona Diamondbacks,Diamondbacks,Arizona,4,14,0.285714286
1,2013,Atlanta Braves,Braves,Atlanta,7.25,16,0.453125
2,2013,Baltimore Orioles,Orioles,Baltimore,6.75,18,0.375
3,2013,Boston Red Sox,Red Sox,Boston,7.25,12,0.604166667
4,2013,Chicago Cubs,Cubs,Chicago,7.25,16,0.453125
...,...,...,...,...,...,...,...
150,2018,Tampa Bay Rays,Rays,Tampa,5,12,0.416666667
151,2018,Texas Rangers,Rangers,Arlington,6,16,0.375
152,2018,Toronto Blue Jays,Blue Jays,Toronto,5.67,14,0.405
153,2018,Washington Nationals,Nationals,Washington,7,14,0.5
154,2018,MLB Average,MLB Average,,5.98,14,0.427142857

In [7]:
# Checking the data types

mlb_beer.dtypes

Year               object
Team               object
Nickname           object
City               object
Price              object
Size               object
Price per Ounce    object
dtype: object

In [8]:
# Converting certain columns to the appropriate data types

mlb_beer = mlb_beer.astype({"Year": 'int', "Price": 'float64', "Size": 'float64', "Price per Ounce": 'float64'})

mlb_beer

,Year,Team,Nickname,City,Price,Size,Price per Ounce
0,2013,Arizona Diamondbacks,Diamondbacks,Arizona,4.00,14.0,0.285714
1,2013,Atlanta Braves,Braves,Atlanta,7.25,16.0,0.453125
2,2013,Baltimore Orioles,Orioles,Baltimore,6.75,18.0,0.375000
3,2013,Boston Red Sox,Red Sox,Boston,7.25,12.0,0.604167
4,2013,Chicago Cubs,Cubs,Chicago,7.25,16.0,0.453125
...,...,...,...,...,...,...,...
150,2018,Tampa Bay Rays,Rays,Tampa,5.00,12.0,0.416667
151,2018,Texas Rangers,Rangers,Arlington,6.00,16.0,0.375000
152,2018,Toronto Blue Jays,Blue Jays,Toronto,5.67,14.0,0.405000
153,2018,Washington Nationals,Nationals,Washington,7.00,14.0,0.500000
154,2018,MLB Average,MLB Average,,5.98,14.0,0.427143

In [9]:
# Count number of MLB teams

mlb_beer.Team.nunique()

31