In [20]:
# Importing Libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import pyodbc

In [21]:
# Check my drivers

pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'Amazon Redshift (x64)',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [22]:
# Connect to sql server

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-BV42F6ID\SQLEXPRESS;'
                      'Database=PortfolioProject;'
                      'Trusted_Connection=yes;')

In [23]:
# Select my query 

query = "SELECT * FROM MLBBeerPrices;"

In [24]:
# Read my query and view the dataset

df = pd.read_sql(query, conn)

df.head()

,Year,Team,Nickname,City,Price,Size,Price per Ounce
0,2013.0,Arizona Diamondbacks,Diamondbacks,Arizona,4.0,14.0,0.285714
1,2013.0,Atlanta Braves,Braves,Atlanta,7.0,16.0,0.453125
2,2013.0,Baltimore Orioles,Orioles,Baltimore,6.0,18.0,0.375000
3,2013.0,Boston Red Sox,Red Sox,Boston,7.0,12.0,0.604167
4,2013.0,Chicago Cubs,Cubs,Chicago,7.0,16.0,0.453125